* {
    box-sizing: border-box;
}


.container-fluid {
    background-color: rgb(56, 194, 222);
}



.card {
    background-color: rgb(124, 55, 55);

}

img {
    width: 100%;
}


.img-thumbnail {
    width: 200px;
    height: auto;
    
}

.subscribe {
    background-color: rgb(56, 194, 222);
}



.d-flex {
    background-color: rgb(56, 194, 222);
    
}
