* {
    box-sizing: border-box;
}

body {
    font-family: "Shadows Into Light Two", serif;
    text-decoration-color: chocolate;

}


.container-fluid {
    background-color: yellow;
}

.responsive {
    width: 100%;
    height: auto;
}

.hero-section {
    background-image: url(../img/4.jpg);
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


.card {
    background-color: rgb(41, 189, 130);

}

img {
    width: 100%;
}


.img-thumbnail {
    width: 200px;
    height: auto;
    
}

.subscribe {
    background-color: rgb(7, 5, 5);
}



.d-flex {
    background-color: rgb(164, 235, 13);
    
}
